$breakpoint-desktop: 769px;
$font: "Lato", sans-serif;
$blockquote-font: "Open Sans", sans-serif;

$color-primary: #58e1c1;
$color-secondary: #55defd;
$text-color: grey;


$green: #80c989;
$red: #d57b7d;
$orange: #eb7f5f;
$dark-purple: #8e7dbc ;
$light-purple: #d6b4ea;
$dark-blue: #60a9c6;
$turq: #84e7d1;
