  .form {
    @include flexbox {
    flex-direction: column;
    }
  }

  .form__label--hidden {
    display: none;
  }

  .form__input {
    border: none;
    border-bottom: 5px solid $color-primary; /*primary color variable*/
    padding: 1.5vh 3vw;
    margin: 1vh 1vw;
  }

/*-----------desktop------------*/

@include media (desktop) {

}
